/* Page Background & General Font */
body {
  /*font-family: 'Georgia', serif;*/
  font-family: 'brush-script MT', cursive;
  background-color: #6b0a16;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Heading with Gold Gradient & Shadow */
@font-face {
  font-family: 'Aceh-Darusalam';
  src: url('fonts/Aceh-Darusalam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply to your wedding title */
/*.wedding-title {
  font-family: 'Aceh-Darusalam', 'Georgia', serif;
  font-size: 4rem;
  line-height: 1.2;
  color: #E6B800;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  margin-bottom: 2rem;
}*/


/*.wedding-title {
  font-family: 'Aceh-Darusalam', 'Georgia', serif;
  font-size: 4rem;
  line-height: 1.2;
  background: linear-gradient(90deg, #FFD700, #FFA500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-bottom: 2rem;
}*/

.wedding-title {
  font-size: 3rem;
  line-height: 1.2;
  background: linear-gradient(90deg, #FFD700, #FFA500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-bottom: 2rem;
}

/* Container */
.container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 2rem;
}

/* Search Card */
.search-card {
  padding: 2rem;
}

/* Input Styles */
input {
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  box-sizing: border-box;
}

/* Result Text */
#result {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: #fff;
}

/* Guest Options */
.guest-option {
  cursor: pointer;
  color: #FFD700;
  padding: 0.3rem 0;
  display: inline-block;
  min-width: 200px;
}

.guest-option:hover {
  text-decoration: underline;
  transform: scale(1.05);
  color: #FFECB3;
}

.highlight {
  background-color: #FFD700;
  color: #6b0a16;
  font-weight: bold;
  padding: 0 3px;
  border-radius: 3px;
}

/* Buttons */
#searchBtn {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #FFD700, #FFA500);
  color: #6b0a16;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

#searchBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #FFD700;
}


#familyBtn {
  margin-top: 10px;
  padding: 6px 12px;   /* smaller than default */
  font-size: 0.9rem;   /* slightly smaller text */
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg, #FFD700, #FFA500);
  color: #6b0a16;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

#familyBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #FFD700;}
